@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import "~font-awesome/css/font-awesome.css";


.contact-section {
    /* background-image: url("https://thumbs.dreamstime.com/b/african-mother-feeding-baby-standing-white-background-panorama-cropped-happy-giving-bottle-milk-to-her-newborn-son-posing-214205880.jpg"); */
    /* background-color: rgb(240, 228, 240); */
    height: 88.5vh;
    color: rgb(7, 0, 0);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -55px;
    background-color: rgba(243, 242, 243, 0.705);
    
}


.contact{
    position: relative;
    /* min-height: 80.5vh; */
    padding: 30px 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.contact .content{
    max-width: 700px;
    text-align: center;

}

.contact .content h4{
    font-size: 36px;
    font-weight:500;
    color:rgb(145, 13, 116);

}
.contact .content p{
 font-weight: 300;
 color:rgb(0, 0, 0);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.container .contactInfo{
    width:50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 10px 0;
  display: flex;
  margin-left: 200px;
}
.container .contactInfo .box .icon{
    min-width: 40px;
    height: 40px;
    background: rgba(145, 13, 116, 0.295);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 30px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h5{
    font-weight: 500;
    color: rgb(145, 13, 116);


}
.contactForm{

    width: 30%;
    padding: 0px;
    background-color: rgba(212, 7, 178, 0);
    margin-right: 150px;

}
.contactForm h3
{
    font-size: 22px;
    color:rgb(145, 13, 116);
    font-weight: 500;

}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(212, 34, 78, 0)
    
}
.contactForm .inputBox input,
.contactForm .inputBox textarea
{
     width: 100%;
     padding: 5px 0;
     font-size: 16px;
     margin: 10px 0;
     border: none;
     border-bottom: 2px solid #333;
     outline: none;
     resize: none;
     background-color:rgba(195, 196, 214, 0);

}
.contactForm .inputBox span{
    position: absolute;
    left: 0px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: rgb(104, 104, 104);


}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox textarea:focus ~span,
.contactForm .inputBox textarea:valid ~ span{
    color:rgb(145, 13, 116);
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 90px;
    background: rgb(145, 13, 116);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.btn-p{
    background-color: rgb(145, 13, 116);
    color: white;
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
}

