<!-- <div class="contact">

    <div class="content">
        <h4> Contact Us</h4>
        <p style="color: rgb(0, 0, 0); font-size:14px; font-family: sans-serif;">Did you know? The first 1,000 days can impact a 
            child's health and happiness later in life.
            
            Every parent wishes for their child to grow up happy 
            and healthy. Find out how the right food, stimulation 
            and care in the first 1,000 days provide a foundation 
            for life.
        </p> 

    </div>
    <div class = "container">
        <div class="contactInfo" style ="font-size: 14px;">
        <div class="box">
            <div class ="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
            <div class="text">
            <h5>Address</h5>
            <p> 0800 Westlands,<br> Nairobi, <br>6789</p>
        </div>
        </div>

        <div class="box">
            <div class ="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
            <div class="text">
            <h5>Phone</h5>
            <p> 020 0098766</p>
        </div>
        </div>

        <div class="box">
            <div class ="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
            <div class="text">
            <h5>Email</h5>
            <p> clinica@clinica.net</p>
        </div>
        </div>
    </div>
<div class = "contactForm">
    <form>
        <h3>Send Messsage</h3>
        <div class ="inputBox">
            <input type="text" name="" required="required">
            <span>Full Name</span>
        </div>
    <div class = "inputBox">
        <input type="text" name="" required="required">
        <span>Email</span>
    </div>  
    <div class="inputBox">
        <textarea required="required"></textarea>
        <span> Type your message ...</span>
    </div> 
    <div class = "inputBox">
        <input type="submit" name="" value="send">
    </div>         
    </form>
</div>
</div>
</div>

 -->


<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- <link rel= "stylesheet"  type= "text/css" href= "css/style.css"/> -->
<script src= "https://kit.fontawesome.com/c8e4d183c2.js"
 crossorigin="anonymous"></script>


<body>
 <section id = "contact">
     <div class = "social">
        <a href = "#"><i class="fa fa-facebook-square"></i></a>
        <a href = "#"><i class="fa fa-twitter-square"></i></a>
        <a href = "#"><i class="fa fa-instagram"></i></a>
        <a href = "#"><i class="fa fa-linkedin"></i></a>
        <a href = "#"><i class="fa fa-behance-square"></i></a>

    
    </div>
     <div class="contact-box">


        <div class = "c-heading">
            <h1>Get In Touch</h1>
            <p>Call or Email Us If You Have Any Issues </p>
        </div>
        <div class="c-inputs">
            <input type="text" placeholder="Full Name"/>
            <input type="email" placeholder="Example@gmail.com"/>
            <textarea name="message" placeholder="Write Message"></textarea>
            <button>SEND</button>
        
        </div>
     </div>
     <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.790610041559!2d36.78241801432578!3d-1.300486199051474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a6bf7445dc1%3A0x940b62a3c8efde4c!2sMoringa%20School!5e0!3m2!1sen!2ske!4v1637671320082!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
 </section>
</body>



