<div class="card mb-6">
    <div class="row">
      <div class="col-md-6">
        <img src="https://media.istockphoto.com/photos/african-american-mother-having-video-call-with-a-pediatrician-while-picture-id1288681671?k=20&m=1288681671&s=612x612&w=0&h=9Lq3nQhNP9zqps4cgwllSYyeidy0P0MynaoeUzukUOc=" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label for="Inputname" class="form-label parentInfo"><b>Parent Name</b></label>
                    <input type="Name" class="form-control" id="Inputname" placeholder="enter here...">
                  </div>
            
                  <div class="mb-3">
                    <label for="Inputname" class="form-label parentInfo"><b>Child's Name</b></label>
                    <input type="Name" class="form-control" id="Inputname" placeholder="enter here...">
                  </div>
            
                  <div class="mb-3">
                    <label for="contact" class="form-label parentInfo"><b>Parent's Phone Number</b></label>
                    <input type="Number" class="form-control" id="Inputnumber" placeholder="enter here...">
                  </div>
               
                <button type="submit" class="btn ml-5">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>



<div class="container">

  </div>
