
<div class = "container-fluid" >
<div class="card mb-8"  >
    <div class="row" >
      <div class="col-md-5">
        <img src="https://media.istockphoto.com/photos/little-baby-getting-vaccinated-picture-id1266491669?b=1&k=20&m=1266491669&s=170667a&w=0&h=lnyTzFEQ3LHmrjjZF8riFq8LhwHf_eATwT4vI9WE4IA=" alt="...">
      </div>
      <div class="col-md-7" >
        <div class="card-body">
          <p class="card-text">Your baby's growth and development during the first year is both delightful (Those coos! Those cuddles!) and dizzying (with all the crying and feeding and diapering, you've got your hands full).</p>
        </div>
      </div>
    </div>
  </div>
 <br><br>
  <div class="card mb-6">
    <div class="row">
        <div class="col-md-7">
            <div class="card-body">
              <p class="card-text">The field of digital health and wellness is expanding rapidly to include a wide variety of topics that are of interest to parents. Originally related to healthcare delivery and how technology could be used to improve patient care, digital health must be viewed more broadly to include the psychological well-being of children growing up in the Digital Age..</p>
            </div>
          </div>

     
      <br>
      <div class="col-md-5">
        <img src="https://media.istockphoto.com/photos/cute-asian-little-girl-wear-medical-uniform-playing-doctor-at-home-picture-id1321940491?b=1&k=20&m=1321940491&s=170667a&w=0&h=QwZ8vomil40tnxgHwyS-pxCq2wkpd5tyAQ8RsbrUZ8o=" alt="...">
      </div>
    </div>
  </div>
</div>

