<div class ="about-section">
    
    <!-- <p style="color: rgb(0, 0, 0); font-size:18px; font-family: sans-serif;">    Did you know? The first 1,000 days can impact a 
        child's health and happiness later in life.
        
        Every parent wishes for their child to grow up happy 
        and healthy. Find out how the right food, stimulation 
        and care in the first 1,000 days provide a foundation 
        for life.</p> -->

<section  id="team" class="team section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Team</h2>
            <p>We are  the team behind the application Clinica</p>
        </div>
        <div class="row">
            <div class="col-lg-3  d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img">
                        <img src="https://previews.123rf.com/images/deagreez/deagreez1910/deagreez191007927/132549338-closeup-photo-of-pretty-dark-skin-lady-holding-arms-on-cheeks-having-best-weekend-mood-toothy-smilin.jpg" class="img-fluid" alt="">

                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-youtube"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Lang'at Kipkirui</h4>
                        <span> Scrum Master </span>
                    </div>
                </div>
            </div>



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="200">
                    <div class="member-img">
                        <img src="https://previews.123rf.com/images/lightfieldstudios/lightfieldstudios1903/lightfieldstudios190332788/120172153-cheerful-african-american-young-woman-showing-thumb-up-while-holding-blank-placard-isolated-on-grey.jpg" class="img-fluid" alt="">

                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-youtube"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span> Ceo</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="300">
                    <div class="member-img">
                        <img src="https://previews.123rf.com/images/fizkes/fizkes1802/fizkes180200239/95223871-satisfied-happy-attractive-african-american-man-relaxing-hands-behind-head-with-coffee-and-laptop-ha.jpg" class="img-fluid" alt="">

                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-youtube"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Hannah Waruguru</h4>
                        <span> Team Member</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="400">
                    <div class="member-img">
                        <img src="https://previews.123rf.com/images/fizkes/fizkes1910/fizkes191002398/132399752-smiling-calm-african-american-man-in-glasses-isolated-on-blue-studio-background-hold-hands-at-heart-.jpg" class="img-fluid" alt="">

                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-youtube"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4> Edwin Kolem</h4>
                        <span> Team Member</span>
                    </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="1500">
                    <div class="member-img">
                        <img src="https://images.unsplash.com/photo-1612214070475-1e73f478188c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="img-fluid" alt="">

                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-youtube"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Walter White</h4>
                        <span> Ceo</span>
                    </div>
                </div>
            </div>




        </div>
    </div>



</section>

    </div>
<!--  -->
<div class="card mb-6">
    <div class="row">
      <div class="col-md-5">
        <img src="https://media.istockphoto.com/photos/little-baby-getting-vaccinated-picture-id1266491669?b=1&k=20&m=1266491669&s=170667a&w=0&h=lnyTzFEQ3LHmrjjZF8riFq8LhwHf_eATwT4vI9WE4IA=" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <p class="card-text">Your baby's growth and development during the first year is both delightful (Those coos! Those cuddles!) and dizzying (with all the crying and feeding and diapering, you've got your hands full).</p>
        </div>
      </div>
    </div>
  </div>
 <br><br>
  <div class="card mb-6">
    <div class="row">
        <div class="col-md-7">
            <div class="card-body">
              <p class="card-text">The field of digital health and wellness is expanding rapidly to include a wide variety of topics that are of interest to parents. Originally related to healthcare delivery and how technology could be used to improve patient care, digital health must be viewed more broadly to include the psychological well-being of children growing up in the Digital Age..</p>
            </div>
          </div>

     
      <br>
      <div class="col-md-5">
        <img src="https://media.istockphoto.com/photos/cute-asian-little-girl-wear-medical-uniform-playing-doctor-at-home-picture-id1321940491?b=1&k=20&m=1321940491&s=170667a&w=0&h=QwZ8vomil40tnxgHwyS-pxCq2wkpd5tyAQ8RsbrUZ8o=" alt="...">
      </div>
    </div>
  </div>

