
<!doctype html>
<html lang="en">
  <head>
  	<title>Footer 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	

  </head>
  <body>
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center">
				
					</div>
				</div>
			</div>
		</section>
		<footer class="footer-07">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<h2 class="footer-heading"><a href="#" class="logo" style="color:rgb(145, 13, 116)">Clinica.net</a></h2>
						Copyright &copy;
						<script style="color:rgb(145, 13, 116); padding-top: 2px">
							document.write(new Date().getFullYear());
						</script> All rights reserved | Would you like to find out more? Go to <a routerLink="/landing" target="_blank" style="color:rgb(165, 40, 138)">Clinica.net</a>

					</div>
				</div>

			</div>
		</footer>
		


  </body>
</html>