.footer-content {
    background: #e1e6ec;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

@media (max-width: 767px) {
    .footer-content {
        margin-top: 850px
    }
}