



<div class= "container">
  <header>
    <nav>
     
          <a class="navbar-brand" href="#" style="font-size: 1.5rem;margin-right: -380px;">
            <img src="https://previews.123rf.com/images/anastasialila/anastasialila1909/anastasialila190900028/133012872-logo-baby-health-icon-massage-or-doctor-care-icon-body-child-symbol-silhouette.jpg" alt="" width="30" height="30">
          </a>  
          
     <h1> <a routerLink ="/landing" class="logo" style="color: rgb(145, 13, 116); font-size:30px; text-decoration: none; " >Clinica</a></h1>
     
      <div class = "menu">
        <ul style="color:rgb(145, 13, 116)">
   
          <li><a routerLink ="/home" style="text-decoration: none; color:rgb(145, 13, 116)"> Home </a></li>
          <li><a  routerLink="/about" style="text-decoration: none; color:rgb(145, 13, 116)">About</a></li>
          <li><a  routerLink="/parent-info" style="text-decoration:none ; color:rgb(145, 13, 116)" >Parent-Info</a></li>
          <li><a  routerLink="/contact" style="text-decoration: none; color:rgb(145, 13, 116)" >Contact Us</a></li>
          
        
        </ul>
      </div>
      <div class ="login">
        <ul>
          <li *ngIf='currentUserValue()'><a (click)='logout()' style="text-decoration: none; color:rgb(145, 13, 116)"> SignOut</a></li>
          <li *ngIf='!currentUserValue()'><a routerLink="/register" style="text-decoration: none; color:rgb(145, 13, 116)"> SignUp</a></li>
          <li *ngIf='!currentUserValue()'><a routerLink="/login" style="text-decoration: none; color:rgb(145, 13, 116)">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>
