



<div class= "container mb-1 mt-1">
  <header>
    <nav>
     
          <a class="navbar-brand" href="#" style="font-size: 1.5rem;margin-right: -380px;">
            <img src="https://www.codester.com/static/uploads/items/000/008/8319/icon.png" alt="" width="30" height="30">
          </a>  
          
     <h1><a routerLink ="/landing" class="logo" style="color: rgb(145, 13, 116); font-size:30px; text-decoration: none; margin-left:55px;" >Clinica</a></h1>
     
      <div class = "menu">
        <ul style="color:rgb(145, 13, 116)">
   
          <li *ngIf='currentUserValue()'><a routerLink ="/home" style="text-decoration: none; color:rgb(145, 13, 116)">Home </a></li>
          <li *ngIf='currentUserValue()'><a  routerLink="/parent" style="text-decoration:none ; color:rgb(145, 13, 116)" >Parent Info</a></li>

          <li><a  routerLink="/about" style="text-decoration: none; color:rgb(145, 13, 116)">About</a></li>
          
          <li><a  routerLink="/contact" style="text-decoration: none; color:rgb(145, 13, 116)" >Contact Us</a></li>
        
        </ul>
      </div>
      <div class ="login">
        <ul>
          <li *ngIf='currentUserValue()'><a (click)='logout()' style="text-decoration: none; color:rgb(145, 13, 116)"> SignOut</a></li>
          <li *ngIf='!currentUserValue()'><a routerLink="/register" style="text-decoration: none; color:rgb(145, 13, 116)"> SignUp</a></li>
          <li *ngIf='!currentUserValue()'><a routerLink="/login" style="text-decoration: none; color:rgb(145, 13, 116)">Login</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>
