<div class="home-section">
  <div class="row" style="height: 100%">
    <div class="col-md-5 content">
      <button
        class="btn btn-block text-light modalbtn"
        data-toggle="modal"
        data-target="#exampleModal"
        type="button"
      >
        Immunization
      </button>
      <button
        class="btn btn-block text-light modalbtn"
        data-toggle="modal"
        data-target="#immunization"
        type="button"
      >
        Growth Monitoring Chart
      </button>
      <button
        class="btn btn-block text-light modalbtn"
        data-toggle="modal"
        data-target="#appointmentModal"
        type="button"
      >
        Vaccination Appointments
      </button>
      <button
        class="btn btn-block text-light modalbtn"
        data-toggle="modal"
        data-target="#historyModal"
        type="button"
      >
        Medical History
      </button>
    </div>
    <div class="col-md-7"></div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Immunization</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            (ngSubmit)="saveImmunization(immunizationform)"
            #immunizationform="ngForm"
          >
            <p
              class="text-center text-dark"
              style="color: green !important"
              *ngIf="showMessage"
            >
              Success! you close this form now.
            </p>
            <div class="form-group">
              <div class="mb-4">
                <label for="validationDefault04">Name of Patient</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  value="{{ currentUser.first_name }}"
                  required
                  readonly
                  name="name"
                />
              </div>

              <div class="mb-4 form-group">
                <label for="validationDefault04">Vaccine</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Vaccine"
                  required
                  name="vaccine"
                  ngModel
                  required
                  vaccine
                />
              </div>

              <div class="mb-4 form-group">
                <label for="validationDefault04">Brand</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Brand"
                  required
                  name="brand"
                  ngModel
                  required
                  brand
                />
              </div>

              <div class="mb-4 form-group">
                <label for="validationDefault04">Batch Number</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Batch Number"
                  required
                  name="batch"
                  ngModel
                  required
                  batch
                />
              </div>
              <div class="mb-4 form-group">
                <label for="validationDefault04">Expiry Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="2021-11-24"
                  required
                  name="expiry"
                  ngModel
                  required
                  expiry
                />
              </div>
              <div class="mb-4 form-group">
                <label for="validationDefault04">Date Given</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="2021-11-24"
                  required
                  name="dateGiven"
                  ngModel
                  required
                  dateGiven
                />
              </div>
              <div class="mb-4 form-group">
                <label for="validationDefault04">Next Appointment</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="2021-11-24"
                  required
                  name="appointmentDate"
                  ngModel
                  required
                  appointmentDate
                />
              </div>
            </div>
            <button
              class="btn"
              type="submit"
              style="color: white; background-color: rgb(145, 13, 116)"
              [disabled]="!immunizationform.valid"
            >
              Submit form
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="immunization"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Growth Monitoring Chart
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveGrowth(growthform)" #growthform="ngForm">
            <p
              class="text-center text-dark"
              style="color: green !important"
              *ngIf="showMessage"
            >
              Success! you close this form now.
            </p>
            <div class="form-group">
              <div class="mb-4">
                <label for="validationDefault04">Name of Patient</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  value="{{ currentUser.first_name }}"
                  required
                  readonly
                  name="name"
                />
              </div>

              <div class="mb-4 form-group">
                <label for="validationDefault04">Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="2021-11-24"
                  name="date"
                  ngModel
                  required
                  date
                />
              </div>

              <div class="mb-4 form-group">
                <label for="validationDefault04">Age</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Age"
                  name="age"
                  ngModel
                  required
                  age
                />
              </div>
              <div class="mb-4 form-group">
                <label for="validationDefault04">Height</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Height"
                  name="height"
                  ngModel
                  required
                  height
                />
              </div>
              <div class="mb-4 form-group">
                <label for="validationDefault04">Weight</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Weight"
                  name="weight"
                  ngModel
                  required
                  weight
                />
              </div>
              <div class="mb-4 form-group">
                <label for="validationDefault04">HO</label>
                <input
                  type="number"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Head Length"
                  required
                  name="HO"
                  ngModel
                  required
                  HO
                />
              </div>
            </div>
            
            <!-- <a> href = "https://clinicadashboard.herokuapp.com/question/8-patient-growth"</a> -->
            <button
              class="btn"
              type="submit"
              style="color: white; background-color: rgb(145, 13, 116)"
              [disabled]="!growthform.valid"
            >
              Submit form
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="appointmentModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            Vaccination Appointments
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="mb-4">
                <label for="validationDefault04">Name of the Patient</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Name of the Patient"
                  required
                  name="name"
                />
              </div>
              <div class="mb-4">
                <label for="validationDefault04"
                  >Vaccine To Be Administered</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Vaccine"
                  required
                  name="vaccine"
                />
              </div>
              <div class="mb-4">
                <label for="validationDefault04">Next Appointment Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="2021-11-24"
                  required
                  name="appointment"
                />
              </div>
            </div>
            <button
              class="btn"
              type="submit"
              style="color: white; background-color: rgb(145, 13, 116)"
            >
              Submit form
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="historyModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Medical History</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="saveHistory(historyform)" #historyform="ngForm">
            <p
              class="text-center text-dark"
              style="color: green !important"
              *ngIf="showMessage"
            >
              Success! you close this form now.
            </p>
            <div class="form-group">
              <div class="mb-4">
                <label for="validationDefault04">Name of the Patient</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  value="{{ currentUser.first_name }}"
                  required
                  readonly
                  name="name"
                />
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1">Medical History</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="history"
                  ngModel
                  required
                  history
                ></textarea>
              </div>
              <div class="mb-4">
                <label for="validationDefault04">Doctor Reccomendation</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="Medication"
                  required
                  name="medication"
                  ngModel
                  required
                  medication
                />
              </div>
              <div class="mb-4">
                <label for="validationDefault04">Date</label>
                <input
                  type="text"
                  class="form-control"
                  id="validationDefault04"
                  placeholder="2021-11-24"
                  required
                  name="date"
                  ngModel
                  required
                  date
                />
              </div>
            </div>
            <button
              class="btn"
              type="submit"
              style="color: white; background-color: rgb(145, 13, 116)"
              [disabled]="!historyform.valid"
            >
              Submit form
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
