.home-section {
    background-image: url("https://thumbs.dreamstime.com/b/african-mother-feeding-baby-standing-white-background-panorama-cropped-happy-giving-bottle-milk-to-her-newborn-son-posing-214205880.jpg");
    height: 86.5vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -43px;
}

.modalbtn{
    background-color: rgb(145, 13, 116);
    width: 70%;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    text-align: justify;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}