@import "~font-awesome/css/font-awesome.css";

html {
    height: 100%;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }

 body {
  background-image: url("https://thumbs.dreamstime.com/b/african-mother-feeding-baby-standing-white-background-panorama-cropped-happy-giving-bottle-milk-to-her-newborn-son-posing-214205880.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }